.site-footer {
  ul::after {
    content: url("../assets/images/hibiscus_footer.png");
    position: absolute;
    left: calc(50% - 323px);
    bottom: -28.5em;
    overflow: hidden !important;
    z-index: -1;
    @include rotate-animation;
  }
  &::before {
    content: url("../assets/images/Sunflower.png");
    position: absolute;
    left: 4em;
    top: 0em;
    z-index: -1;
    @include rotate-animation;
  }
  &::after {
    content: url("../assets/images/orchid.png");
    position: absolute;
    right: -5em;
    bottom: 7.8em;
    z-index: -1;
    @include rotate-animation;
  }
}

@keyframes rotate-flower {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
