.mon-slider {
    width: 60%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
   margin-top: -100px !important;

    .swiper-wrapper {
        align-items: center;
    }

    .swiper-slide {
        width: 300px;
        height: 350px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            max-width: 100%;
            max-height: 350px;
            width: auto;
            height: auto;
            object-fit: contain;
        }

        .slider-legend {
            margin: 10px 0 0;
            text-align: center;
            height: 20px;
        }
    }
}
