// Centrage flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bg-settings {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

@mixin rotate-animation {
  transform-origin: center center;
  animation: rotate-flower 8s linear infinite;
}
