* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes floatMenu {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }

  50% {
    transform: translateX(-50%) translateY(calc(-50% + 35px));
  }

  75%{
      transform: translateX(-30%) translateY(-30%);
  }

  100% {
    transform: translateX(-50%) translateY(-50%);
  }

}

.main-navigation {
  position: relative;
  width: 100%;
}

.nav-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: $color__navigation_bg;
  height: 80px;
}

.fullscreen-menu {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  min-height: calc(100vh - 75px);
  background-color: $color__background-ins;
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.fullscreen-menu.active {
  display: flex;
  flex-direction: column;
}

.fullscreen-menu .menu-links {
  width: 550px;
  height: auto;
  text-align: center;
}

.title-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container > h1 {
  color: #fff;
  z-index: 2000;
  font-family: $font__titles;
  font-size: 22px;
}

/*-------------MENU HAMBURGER ------------------------*/

button.toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  width: 50px;
  height: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 9;
  cursor: pointer;
}

.line-menu {
  height: 4px;
  background-color: #000;
  display: block;

  width: 40px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.line-menu:nth-child(1) {
  transform: translateY(-7px);
}

.line-menu:nth-child(2) {
  transform: translateY(0);
}

.line-menu:nth-child(3) {
  transform: translateY(7px);
}

.toggle.active .line-menu:nth-child(1) {
  transform: rotate(135deg);
}
.toggle.active .line-menu:nth-child(2) {
  opacity: 0;
}
.toggle.active .line-menu:nth-child(3) {
  transform: translateY(-7px) rotate(-135deg);
}

li {
  list-style: none;
}

.menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-links a {
  color: #333 !important;
  text-decoration: none;
  font-family: $font__main;
  font-size: 64px;
  line-height: 2;
}

.menu-links a:hover {
  text-shadow: 0 0 14px #ff5c00;
}



// .active {
//   display: flex !important;
// }

/*-----IMAGES MENU -------*/

.site-logo-menu {
  position: absolute;
  top: 123px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 190px;

  animation: float 6s ease-in-out infinite;
}

.hibiscus-menu {
  width: 626px;
  position: absolute;
  top: 740px;
  left: 1122px;
  animation: rotate-flower 8s linear infinite;
}

.orchid-menu {
  width: 172px;
  position: absolute;
  top: 152px;
  left: -60px;
  animation: rotate-flower 8s linear infinite;
}

.sunflower-menu {
  width: 216px;
  position: absolute;
  top: 169px;
  right: 185px;
  animation: rotate-flower 8s linear infinite;
}

.randomflower-menu {
  width: 75px;
  position: absolute;
  top: 475px;
  right: -30px;
  animation: rotate-flower 8s linear infinite;
}

.flower-menu {
  width: 70px;
  position: absolute;
  top: 563px;
  left: 213px;
  animation: rotate-flower 8s linear infinite;
}

.chat-bleu {
  width: 109px;
  position: absolute;
  top: 265px;
  left: 282px;
  animation: floatMenu 6s ease-in-out infinite;
}

.chat-noir {
  width: 140px;
  position: absolute;
  top: 576px;
  right: 140px;
  animation: floatMenu 6s ease-in-out infinite;
}

.chat-jaune {
  width: 105px;
  position: absolute;
  bottom: 100px;
  left: 105px;
  animation: floatMenu 6s ease-in-out infinite;
}

.text-menu-footer {
  position: absolute;
  bottom: 40px;
  font-size: 15px;
  font-family: $font__main;
  color: #000;
}
.text-menu-footer:hover {
  text-shadow: 0 0 14px #ff5c00;
}
