@keyframes floatMenu {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }

  50% {
    transform: translateX(-50%) translateY(calc(-50% + 35px));
  }

  75% {
    transform: translateX(-30%) translateY(-30%);
  }

  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}

//=======================================
// NAVIGATION
//=======================================

.main-navigation {
  position: relative;
  width: 100%;

  .nav-top {
    position: relative;

    @include flex-center;

    padding: 15px;
    height: 80px;

    background-color: $color__navigation_bg;
  }

  //=======================================
  // MENU FULLSCREEN
  //=======================================

  .fullscreen-menu {
    position: absolute;

    top: 75px;
    left: 0;

    width: 100%;
    min-height: calc(100vh - 75px);

    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    background-color: $color__background-ins;

    overflow: hidden;

    &.active {
      display: flex;
      flex-direction: column;
    }

    .menu-links {
      width: 550px;
      height: auto;
      text-align: center;
    }
  }

  //=======================================
  // TITRE
  //=======================================

  .title-container {
    flex: 1;

    @include flex-center;

    > h1 {
      color: #fff;
      z-index: 2000;

      font-family: $font__titles;
      font-size: 22px;
    }
  }

  //=======================================
  // MENU HAMBURGER
  //=======================================

  button.toggle {
    position: absolute;

    top: 50%;
    right: 50px;

    width: 50px;
    height: 50px;

    @include flex-center;
    flex-direction: column;

    transform: translateY(-50%);

    z-index: 9;
    cursor: pointer;
  }

  .line-menu {
    height: 4px;
    width: 40px;

    display: block;

    background-color: #000;
    border-radius: 5px;

    transition: all 0.5s ease-in-out;

    &:nth-child(1) {
      transform: translateY(-7px);
    }

    &:nth-child(2) {
      transform: translateY(0);
    }

    &:nth-child(3) {
      transform: translateY(7px);
    }
  }

  .toggle {
    &.active {
      .line-menu {
        &:nth-child(1) {
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-7px) rotate(-135deg);
        }
      }
    }
  }

  //=======================================
  // LISTE / LIENS
  //=======================================

  li {
    list-style: none;
  }

  .menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      color: #333 !important;
      text-decoration: none;

      font-family: $font__main;
      font-size: 64px;
      line-height: 2;

      &:hover {
        text-shadow: 0 0 14px #ff5c00;
      }
    }
  }

  //=======================================
  // IMAGES DU MENU
  //=======================================

  .site-logo-menu {
    position: absolute;

    top: 123px;
    left: 50%;

    max-width: 190px;

    transform: translateX(-50%);

    animation: float 6s ease-in-out infinite;
  }

  .hibiscus-menu {
    position: absolute;

    width: 100%;
    max-width: 626px;

    bottom: -330px;
    right: -328px;

    animation: rotate-flower 8s linear infinite;
  }

  .orchid-menu {
    position: absolute;

    width: 172px;

    top: 152px;
    left: -60px;

    animation: rotate-flower 8s linear infinite;
  }

  .sunflower-menu {
    position: absolute;

    width: 216px;

    top: 169px;
    right: 185px;

    animation: rotate-flower 8s linear infinite;
  }

  .randomflower-menu {
    position: absolute;

    width: 75px;

    top: 475px;
    right: -30px;

    animation: rotate-flower 8s linear infinite;
  }

  .flower-menu {
    position: absolute;

    width: 70px;

    top: 563px;
    left: 213px;

    animation: rotate-flower 8s linear infinite;
  }

  //=======================================
  // CHATS
  //=======================================

  .chat-bleu {
    position: absolute;

    width: 109px;

    top: 265px;
    left: 282px;

    animation: floatMenu 6s ease-in-out infinite;
  }

  .chat-noir {
    position: absolute;

    width: 140px;

    top: 576px;
    right: 140px;

    animation: floatMenu 6s ease-in-out infinite;
  }

  .chat-jaune {
    position: absolute;

    width: 105px;

    bottom: 100px;
    left: 105px;

    animation: floatMenu 6s ease-in-out infinite;
  }

  //=======================================
  // FOOTER
  //=======================================

  .text-menu-footer {
    position: absolute;

    bottom: 40px;

    font-size: 15px;
    font-family: $font__main;
    color: #000;

    &:hover {
      text-shadow: 0 0 14px #ff5c00;
    }
  }
}

//=======================================
// RESPONSIVE
//=======================================

@media all and (max-width: #{$breakpoint__laptop}) {
  .main-navigation {
    .chat-noir {
      right: 70px;
    }

    .flower-menu {
      right: 150px;
    }
  }
}

@media all and (max-width: #{$breakpoint__tablet}) {
  .main-navigation {
    .sunflower-menu {
      right: 40px;
      left: auto;
    }
  }
}

@media all and (max-width: #{$breakpoint__small_tablet}) {
  .main-navigation {
    .site-logo-wrap {
      top: 30%;
    }

    .menu-links {
      a {
        font-size: 50px;
      }
    }
  }
}

@media all and (max-width: #{$breakpoint__large_phone}) {
  .main-navigation {
    .site-logo-wrap {
      top: 30%;
    }

    .menu-links {
      a {
        font-size: 45px;
      }
    }

    .chat-noir {
      right: 10px;
      width: 120px;
    }

    .flower-menu {
      left: 100px;
    }

    .sunflower-menu {
      width: 150px;
      right: 80px;
    }

    .hibiscus-menu {
      max-width: 526px;

      bottom: -280px;
      right: -288px;
    }
  }
}
