// Animation commune
@keyframes rotate-flower {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.banner {
  background-image: url("../assets/images/banner.png");
  @include flex-center;
}

// Sunflower
.story {
  h2 {
    &::after {
      content: "";
      position: absolute;
      left: 0.7em;
      top: 6em;

      width: 150px;
      height: 150px;

      background-image: url("../assets/images/Sunflower.png");
      @include bg-settings;
      @include rotate-animation;
    }
  }

  // Hibiscus
  &__article {
    &::after {
      content: "";
      position: absolute;
      left: calc(50% + 414px);
      top: 2em;

      width: 200px;
      height: 200px;

      background-image: url("../assets/images/Hibiscus.png");
      @include bg-settings;
      @include rotate-animation;
    }
  }
}

// Random flower + flower
#studio {
  h2 {
    &::before {
      content: "";
      position: absolute;
      left: -1em;
      top: 0;

      width: 200px;
      height: 200px;

      background-image: url("../assets/images/random_flower.png");
      @include bg-settings;
      @include rotate-animation;
    }
    &::after {
      content: "";
      position: absolute;
      right: 1em;
      top: 1.2em;

      width: 150px;
      height: 150px;

      background-image: url("../assets/images/flower.png");
      @include bg-settings;
      @include rotate-animation;
    }
  }
}

// Responsive : conserver le comportement du parent
@media all and (max-width: #{$breakpoint__small_tablet}) {
  .story {
    h2 {
      &::after {
        content: "";
      }
    }

    &__article {
      &::after {
        content: "";
      }
    }
  }

  #studio {
    h2 {
      &::before,
      &::after {
        content: "";
      }
    }
  }
}
